/* Title/Subtitle */
#titulo {
    color:teal;
}

#subtitulo, table > caption {
    color:blue;
}
/* Parragraf */
p > strong, p > a, tr{
    color:red;
}

p > a > em {
    color: blue; 
}
/* Table */
table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
    padding-top: 5px;
    padding-right: 5px;
}

td {
    color: green;
}

p > .especial {
    color: purple;
}

.especial, td > strong {
    color: orange;
}
/* Adicional */
#adicional {
    color: olive;
}

#especial {
    color: fuchsia;
}

#adicional > p > a {
    color: green ;
}