* {
    text-align: center;
    font-family: Arial;
}
/* Table */
table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #333;
    padding-top: 5px;
    padding-right: 5px;
}

td:first-child {
    text-align: left;
    background-color: #E6F3FF;
}

thead > tr {
    background-color:#CCCCCC;
}
tbody > tr:nth-child(odd) {
    background-color: #FFFFCC;
}