body {
    font-family: verdana;
    color: #192666;
    background-image: url('../imagenes/fondo.gif');
    background-color: #F2F5FE;
    background-repeat: no-repeat;
    box-sizing: border-box;
}

#contenedor {
    width: 770px;
    margin: 0 auto;
}

#contenido > #principal{
    width: 570px;
    float: left;
}

#contenido > #secundario{
    width: 200px;
    float: left;
}

#cabecera {
    height: 100px;
    background-image: url('../imagenes/cabecera.jpg');
    padding: 3%;
}

#logo > a {
    color: white;
    float: left;
    margin-right: 20%;
}

#menu {
    margin-top: 0.7%;
    background-color: #253575;
    color: #B5C4E3;
    height: 50px;
}
#menu > ul {
    list-style-type: none;
    overflow: hidden;
}
#menu > ul > li {
    float: left;
    padding: 0.5%;
}
#menu > ul > li > a:hover{
    color: #31479B;
}

#menu > ul > li.seleccionado > a, #menu > ul > li.seleccionado {
    background-color: white;
    color: #FF9000;
}

p.info > span, p.info > span > a{
    color: #31479B;
}

.fecha::before{
    content:url('../imagenes/icono_fecha.gif');
}

.categoria::before{
    content:url('../imagenes/icono_categoria.gif');
}

.autor::before{
    content:url('../imagenes/icono_autor.gif');
}

.comentarios::before{
    content:url('../imagenes/icono_comentarios.gif');
}

.articulo {
    background-image: url('../imagenes/fondo_articulo.jpg');
    background-repeat: no-repeat;
}

#secundario {
    background-image: url('../imagenes/fondo_columna.gif');
    background-repeat: no-repeat;
    background-color: #B5C4E3;
}

#secundario > h3 {
    background-color: #31479B;
}

#secundario > ul {
    list-style-type: none;
}

#categorias > li > a::before,  #archivo > li > a::before,
#enlaces > li > a::before {
    content:url('../imagenes/icono_elemento.gif');
}

#categorias > li > a:hover,  #archivo > li > a:hover,
#enlaces > li > a:hover {
    content:url('../imagenes/icono_elemento_seleccionado.gif');
}